# Библиотеки и виртуальное окружение
venv/
env/
ENV/

# Временные файлы Python
__pycache__/
*.py[cod]
*$py.class

# Настройки редакторов
.vscode/
.idea/

# Картинки графиков
graph.png
g.png

# Секретные файлы
.env
